@import url(https://fonts.googleapis.com/css?family=Raleway:400,300);
@import url(http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css);

body {background: #ffffff;}
ul{list-style: none;margin: 0;padding: 0;};
.font-reg{font-family: 'Raleway', sans-serif;font-weight:400;}
.font-light{font-family: 'Raleway', sans-serif;font-weight:300;}
/*----------HEADER---------*/
#name {
	font-family: 'Raleway', sans-serif;
	color: black;
	font-size: 24px;
	font-weight: bold;
	text-transform: uppercase;
	text-decoration: none;
	letter-spacing: 5px;
	margin-left: 140px;
	margin-top: 23px;
	position: absolute;
}

.go-to-top {
	font-family: 'Raleway', sans-serif;
	font-size:11px;
	font-style: normal;
	text-transform: uppercase;
	text-align: right;
	color: #ed145b;
	text-decoration: none;
	letter-spacing: 0.7px;
	position: absolute;
	top: 5000px;
	left: 85%;
}

.go-to-top:hover {
	color: #ed145b;
	text-decoration: none;
}
