body {
    background-color: #f2de7f;
}

.element{

    top:0;
    bottom:0;
    left:0;
    right:0;
    position: absolute;
    margin: auto;
    width:500px;
    height:500px;
    background-color: #f27f93;
    }

.element:hover{        
animation: rotation 5s infinite;
    }


@-webkit-keyframes rotation {
		from {-webkit-transform: rotate(0deg);}
		to {-webkit-transform: rotate(359deg);}
}
